.main{
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg, #B0B4BA 0%, #C6C6C8 34.03%, #CDC9C9 44.97%, #CCC1C1 62.15%, #C1B7BB 74.13%, #ABADB7 86.11%, #9AA4AC 99.13%);
}

 .header{
    display: flex;
    width: 100%;
    height: 50px;
 } 