.FeelingCardMain{
width: 100%;
display: flex ;
flex-flow: row wrap;
justify-content: center;
align-items: center;


}
.FeelingCard{

    width: 660px;
    height: 355px;
    background: white;
    box-shadow: 0px 20px 100px 10px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: block;
    margin: 2rem auto;
    position: relative;
    transition: all 1s ease-out;
   
}
.MessageArea{
    display: flex;
    flex-flow: row wrap;
    resize: none;
    overflow: hidden;
    border: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #95959652;
    height: 50%;
    border-radius: 20px 20px 20 20px;
    padding-top: 1rem;
    outline: none;   
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #959596; 
}
.Time{
    display: block;
   
    width: auto;
    height: 15px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;
letter-spacing: -0.02em;

color: #959596;

    
}
.button{
display: block;
position: absolute;
    bottom: 5%;
    right: 10%;
width: 120px;
height: 41px;
border: 1px solid #959596;
box-sizing: border-box;
border-radius: 12px;
/* color: #959596; */
}
@media (max-width: 500px)  {
    .FeelingCard {
        width: 100%;
        height: 300px;
        margin: 0!important;
    }

}
@media (min-width: 501px) and (max-width: 1024px)  {
    .FeelingCard {
        width: 550px!important;
        height: 300px!important;
        margin: 0!important;
    }

}



.ModalOpen {
    animation: openModal 1s ease-out forwards;
}


@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

