.save:disabled {
    /* color: #ccc; */
    display: none;
    cursor: not-allowed;
}

.save{
            
        position: absolute;
            bottom: 5%;
            right: 10%;
        width: 120px;
        height: 41px;
        border: 1px solid #959596;
        box-sizing: border-box;
        border-radius: 12px;
        outline: none;
        /* color: #959596; */
        
}

.sad{
    border-color: #353A4B;
    color:  #353A4B;
}
.sad:hover{
    background-color:#353A4B ;
    color: white;
}
.notbad{
    border-color: #5563AA;
    color: #5563AA;

}
.notbad:hover{
    background-color:#5563AA ;
    color: white;
}
.soso{
    border-color: #7184E7;
    color: #7184E7;
}
.soso:hover{
    background-color:#5563AA ;
    color: white;
}
.good{
    border-color: #C788E6;
    color: #C788E6;
}
.good:hover{
    background-color:#C788E6 ;
    color: white;
}
.perfect{
    border-color: #F7678A;
    color:#F7678A ;
}
.perfect:hover{
    background-color:#F7678A ;
    color: white;
}

.save:not(:disabled) {
    animation: enable 0.5s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}