.listItems{
    direction:rtl;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center; 
     align-items: flex-end; 
    height: 170px;
    overflow-x: scroll;
  z-index: 0;
}
.listItems:hover section{
  opacity: 1!important;
}
.ListItem{
  display: flex;
  position: relative;
  width: 200px;
  height: 100px;
  border: 4px solid #FFFFFF;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 20px;
  background: rgba(252, 251, 252, 0.9);
z-index: 1;
cursor: pointer;
} 
 
::-webkit-scrollbar {
    height : 5px;
   
  } 
  
   ::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
    
  }
  
  ::-webkit-scrollbar-thumb {
      width: 30px;
    border-radius: 30px;
    background: rgb(92, 91, 91);
  }
  
  .footer{
    width: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    height: 50px;
    Background:  rgba(235, 220, 220, 0.1); 


    
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;

color: #FFFFFF;
  }
