.RateControl{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    margin: 0.4rem;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s;
}
label.RateControl:hover{
    transform: scale(1.2);
}
p.RateControl{
    border: none!important;
    border-radius: 0!important;
    padding-left: 2%;
}
.RatingControls{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0px 0px;
    background: #F6F4F6;
}
.invisible{
    display: none;
}
.btnColor1{
    background-color: #353A4B;
}
.btnColor2{
    background-color: #5563AA;
}
.btnColor3{
    background-color: #7184E7;
}
.btnColor4{
    background-color: #C788E6;
}
.btnColor5{
    /* background-color: #F7678A; */
    background-color: transparent;
}
.Active{
    background-color: #C788E6;
}

.ModalOpen {
    animation: openModal 0.4s ease-out forwards;
}



@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



