
.ListItem{
    display: flex;
    position: relative;
    width: 200px;
    height: 100px;
    border: 4px solid #FFFFFF;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 20px;
    background: rgba(252, 251, 252, 0.9);
  z-index: 1;
  cursor: pointer;
   
} 
.Rate{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    left: 11.65%;
    top: 12;
    background: #FFFFFF;
    
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;

color: #5563A9;
}
.Date{
    
position: absolute;
display: block;
left: 11.65%;
top: 24%;

width: auto;
height: auto;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

color: #333333;
}
.Sms{
    position: absolute;
    display: block;
    padding-right: 15%;
    left: 11.65%;
    top: 36%;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #666666;

}